[submodule "blender_tools_description_and_practice"]
	path = blender_tools_description_and_practice
	url = git@github.com:Tipriest/blender_tools_description_and_practice.git
[submodule "python_playground"]
	path = python_playground
	url = git@github.com:Tipriest/python_playground.git
[submodule "python_three_cool_cat"]
	path = python_three_cool_cat
	url = git@github.com:Tipriest/python_three_cool_cat.git
